@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    @apply transition-colors duration-300;
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Pulsing red marker (for incidents) */
.pulse-red {
    width: 14px;
    height: 14px;
    background: #ef4444;
    border-radius: 50%;
    position: relative;
}

.pulse-red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #ef4444;
    animation: pulseRed 1.6s infinite ease-out;
}

@keyframes pulseRed {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    70% {
        transform: scale(2.8);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Pulsing blue marker (for zones) */
.pulse-blue {
    width: 14px;
    height: 14px;
    background: #3b82f6;
    border-radius: 50%;
    position: relative;
}

.pulse-blue::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #3b82f6;
    animation: pulseBlue 1.6s infinite ease-out;
}

@keyframes pulseBlue {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    70% {
        transform: scale(2.8);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}